body {

     padding: 50px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     border-style: none;
     font-family: 'Lato', sans-serif;
     background-color: #050505;

}


.playerteam {

     color: white;
     

}



.teamtitle2 {

     color: white;
     text-align: center;
     font-size: 180%;
     padding-top: 50px;

}



.memberstitle {

     color: white;
     text-align: center;
     display: block;
     font-size: 300%;

}



.membersdesc {

    color: white;
    text-align: center;
    margin: 5px 10px 20px 10px;
    font-size: 120%;

}



.tigerlogo {

    width: 50%;
    height: auto;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;

}


.lionlogo {

    width: 34%;
    height: auto;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}


.tigertitle {

     color: white;
     background-color: #0892D0;
     text-align: center;
     font-size: 200%;
     padding: 12px 0px 12px 0px;
     width: 100%;
     margin-left: 0px;
     margin-top: 10px;
     margin-right: 0px;
     margin-bottom: 0px;
     font-weight: bold;
     letter-spacing: 2px;
     display: block;

}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
        text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

@media only screen and (max-width: 650px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 50%; }

.playerbox {

    margin: 0px 15px 0px 15px;

}

}

@media only screen and (max-width: 500px) {

.playerbox {

    margin: 0px 5px 0px 5px;
}

}

@media only screen and (max-width: 355px) {
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
.playerbox {

    margin: 0px 20px 0px 20px;

}

}

.playerimg {

    max-width: 100%;
    max-height: auto;

}


.playerbox {

    padding: 15px 10px 10px 10px;
    background-color: #242424;

}


.playername {

    color: white;
    font-weight: bold;
    font-size: 130%;

}


.playername2 {

    color: white;
    font-weight: bold;
    font-size: 100%;

}


.nav1 {
      width: 100%;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      list-style: none;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      height: 50px;
      background-color: #0892D0;
      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(255,255,255,0.1);
}


.navlogo {

     padding: 0px 0px 0px 0px;
     margin: 0px 10px 0px 0px;
     width: auto;
     height: 30px;
     float: left;
}



.title {

     color: white;
     font-size: 120%;
     float: left;
     margin: 0px 10px 0px 0px;
     letter-spacing: 3px;
}


.list1 {
     float: right;
     display: block;
     padding: 0px 17px;
     text-decoration: none;
     font-weight: bold;
     margin: 0px 0px 0px 0px;
     letter-spacing: 1px;
}


.menu1 {
     text-decoration: none;
     color: white;
     margin: 0px 12px 0px 0px;
}


.menu1:hover {
     text-shadow: 1px 1px 1px black;
}


footer {

    width: 100%;
    height: 120px;
    background-color: #242424;
    float: left;
    margin-top: 40px;

}


.footertext {

    color: white;
    font-size: 110%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;

}



.footerlogo {

    height: 75px;
    width: auto;
    margin: 30px 0px 0px 20px;
    float: left;

}


.twitterlogo {

    height: 30px;
    margin: 45px 40px 0px 10px;
    float: right;
    padding: 7px 7px 7px 7px;
    border-style: solid;
    border-color: white;
    border-width: 3px;

}


.twitterlogo:hover {

    background-color: #0892D0;
    border-color: #0892D0;
    border-width: 3px;

}


.footerbigtxt {

    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    font-size: 170%;
    font-weight: bold;
    margin: 45px 0px 0px 5px;
    float: left;

}


.footertxt {

    color: white;
    font-family: 'Lato', sans-serif;
    float: left;
    margin: 56px 0px 0px 35px;
    text-decoration: none;

}


.footertxt:hover {

    color: #0892D0;

}


.header { display: none; }



/* -------------------------------- 

Mobile Navigation

-------------------------------- */

@media (max-width: 900px) {

.nav1 { display: none; }

.navlogo { display: none; }

.title { display: none; }

.list1 { display: none; }

.menu1 { display: none; }


.memberstitle {

   padding-top: 75px;

}


body {

    margin: -32px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}


.header {
  background-color: #0892D0;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
}
 
.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0892D0;
}
 
.header .list .mobilelink {
  display: block;
  padding: 15px 20px 15px;
  border-top: 1px solid rgba(255,255,255,.2);
  text-decoration: none;
}
 
.header .list .mobilelink:hover {
  background-color: #0892D0;
}
 
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
 
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


.title3 {

    display: inline-block;
    float: left;
    margin-left: 4px;
    color: white;
    font-size: 140%;
    letter-spacing: 2px;

}


.logo3 {

    height: 40px;
    width: auto;
    margin: 10px 0px 0px 20px;
    float: left;

}

.mobilelink {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 120%;

}


.tigerlogo {

    padding: 64px 0px 0px 0px;

}




}


/* -------------------------------- 

Small Mobile Devices

-------------------------------- */

@media (max-width: 450px) {

.title3 {
    font-size: 100%;
    margin-top: 18px;
    margin-left: 10px;
    display: none;
    

 }

.logo3 {

    margin-left: -24px;   
    position: absolute;

}


.tigertitle {

    font-size: 120%;

}


.tigerlogo {

    width: 75%;

}




}





/* -------------------------------- 

Footer Display

-------------------------------- */

@media (max-width: 858px) {

.footerlogo { display: none; }

 .footerbigtxt { display: none; }


.twitterlogo {

    float: left;
    width: 30px;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: -16px;
    margin-bottom: 0px;
    border: none;
    padding-left: 50%;

}


.twitterlogo:hover {

    background-color: rgba(255,255,255,0);

}


.footertxt {

    display: inline;
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 70%;
    margin: 10px 15% 10px 15%;

}


footer {

    height: 205px;

}



}